/*
* @Author: zuoyan
* @Date:   2017-08-29 22:21:27
* @Last Modified by:   zuoyan
* @Last Modified time: 2017-08-29 22:21:33
*/
.root {
  background-color: #eee;
  padding: 10px;
  border: 3px solid #ccc;
}