.yh-ui-ptr {
    position: relative;
    overflow: hidden;
    width: 100%;
    &-loader {
        pointer-events: none;
        font-weight: bold;
        text-align: center;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        align-content: stretch;
        justify-content: center;
        & .fa {
            font-size: 3rem;
            color: rgba(0, 0, 0, 0.6);
            line-height: 3rem;
            transition: all 0.2s linear;
            font-style: normal;
            display: block;
        }
    }
    & .rotate-down {
        transform: rotate(-180deg);
    }
    & .loaders {
        display: flex;
    } 
    &-content {
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
