.main{
    display: flex;
    justify-content: space-around;
    background: #fff;
    .tab{
        display: flex;
        flex:1;
        align-items: center;
        justify-content: center;
        height: 30px;
        box-sizing: content-box; 
    }
    .active{
        border-bottom: 1px solid #558eed;
        color: #558eed;
    }
}